{% for annonce in annonces %}

	<div class="card shadow-1 fx-row">
		<div class="primary d-flex vcenter fx-center px-4">
			<img src="{{ asset('uploads/images/annonces/' ~ annonce.images[0].name)|imagine_filter('square') }}" alt="{{ annonce.title }}">
		</div>
		<div class="flex fx-col fx-grow">
			<a href="{{ path('annonces_details', {slug: annonce.slug})}}">
				<div class="card-header">{{ annonce.title }}</div>
				<div class="card-content">
					<p>
						Catégorie:
						{{ annonce.categories.name}}
					</p>
					<p>
						{{ annonce.content|u.truncate(50, '...')|raw }}
					</p>
				</div>
			</div>
		</a>
	</div>
{% endfor %}

{# On crée des variables personnalisées #}
{% set queryParams = app.request.query.all %}
{% set queryString = queryParams|filter((v, k) => k != "page" and k != "ajax")|url_encode %}

<ul class="pagination">
	<li class="{{ (page == 1) ? 'disabled' : '' }}">
		<a href="?page=1&{{queryString}}">
			<i class="fas fa-step-backward"></i>
		</a>
	</li>
	<li class="{{ (page == 1) ? 'disabled' : '' }}">
		<a href=" {{ (page > 1) ? '?page=' ~ (page - 1) : '' }}&{{queryString}}">
			<i class="fas fa-angle-left"></i>
		</a>
	</li>
	{%set pages = (total/limit)|round(0,'ceil') %}
	{% for item in 1..pages %}

		<li class="{{ (page == item) ? 'active' : '' }}">
			<a href="?page={{item}}&{{queryString}}">{{ item }}</a>
		</li>

	{% endfor %}
	<li class="{{ (page == pages) ? 'disabled' : '' }}">
		<a href=" {{ (page < pages) ? '?page=' ~ (page + 1) : '' }}&{{queryString}}">
			<i class="fas fa-angle-right"></i>
		</a>
	</li>
	<li class="{{ (page == pages) ? 'disabled' : '' }}">
		<a href="?page={{pages}}&{{queryString}}">
			<i class="fas fa-step-forward"></i>
		</a>
	</li>
</ul>
